a:link {
  text-decoration: none;
}

h1 {
  font-size: 50px;
  font-weight: bolder;
  color: white;
  text-shadow: black 3px 3px 3px;
}

.collapse navbar-collapse {
  display: flex;
  justify-content: center;
  border: solid red 5px;
}

.navbar-nav {
  display: flex;
  width: 75vw;
  justify-content: space-evenly;
  background-color: #9dae88;
  border-radius: 5px;
  border: 2px;
  box-shadow: black 3px 3px 3px;
}

#navbarNav {
  display: flex;
  justify-content: center;
}

h2 {
  text-decoration: none;
  color: white;
  text-shadow: gray 1px 1px 1px;
}
