li {
  list-style-type: none;
  font-size: larger;
  font-weight: bolder;
}

ul {
  background-color: lightgray;
}

.meals {
  background-color: #9dae88;
  border: solid black 5px;
  border-radius: 5px;
  text-shadow: 2px 2px gray;
}
