.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 25px;
  background-color: blanchedalmond;
}

.buttons {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

button {
  border: solid black 2px;
  border-radius: 5px;
  padding: 5px;
  background-color: #9dae88;
}

.top {
  padding-bottom: 25px;
  border-radius: 5px;
}
